body {
	background: #eee;
	margin: 20px auto;
	width: 80%;
}

/*******************************************************************************
  Project plan
*******************************************************************************/
#ezgantt_ezgantt{
  border-bottom: 4px solid black;
  border-top: 4px solid black;
  display: block;
}
.ezgantt {
  font: 12px Arial,Helvetica,Verdana,sans-serif;
	line-height: 1.2em;
  width: 100%;
}
.ezgantt h2 {
  text-align:center;
  width: 100%;
  font-size: 100% !important;
  margin: 0 !important;
  padding: 3px 0;
  background: #FFF;
}
.ezgantt h3 {
  background-color: #EEEEEE;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
  width: 19.5%;
  float: left;
  margin: 0;
  padding: 0 0 0 0.5%;
  font-weight: bold !important;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.ezgantt_milestone {
  border-top: 1px solid #D0D0D0;
}
div.ezgantt_row {
  background: #FFFFFF;
  border-top: 1px solid #D0D0D0;
  clear: both;
  padding: 5px 0 0;
  overflow: auto;
}
div.sidebar_title {
  display: block;
  float: left;
  width: 17%;
  text-align: left;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
  padding: 0 2% 0 1%;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
div.sidebar_title:hover {
	overflow: visible;
}
div.sidebar_title a {
	color: #000;
	display: inline-block;
	padding: 0;
	text-decoration: none;
	padding: 0 8px;
	position: relative;
}
div.sidebar_title a:hover {
	background: #eee;
}

div.event_wrapper {
  display: block;
  float: left;
  width: 80%;
}
a.event {
  background-color: #E5ECF9;
  border: 1px solid #C0C0C0;
  color: #666;
  display: block;
  text-align: center;
  overflow: hidden;
  height: 25px;
  margin-bottom: 5px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -border-radius:4px;
}

.ezgantt_weeks {
  display: table;
  float: right;
  font-size: 10px;
  line-height: 1.5em;
  overflow: auto;
  width: 80%;
  height: 18px;
  background-color: #FFFFFF;
}
div.ezgantt_weeks table {
	border-collapse: collapse;
	width: 100%;
}
.ezgantt_weeks .week {
  background-color: #EEEEEE;
  color: #333333;
  display: table-cell;
  text-align: center;
  overflow: hidden;
  height: 18px;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
.legend span.in_progress,
div.ezgantt_row .event {
  background-color: rgba(241, 146, 0, 0.7);
}
.legend span.done,
div.ezgantt_row.done .event {
  background-color: rgba(24, 243, 100, 0.7);
}
.legend span.not_begun,
div.ezgantt_row.not_begun .event {
  background-color: rgba(243, 87, 12, 0.7);
}
/*******************************************************************************
  Legend
*******************************************************************************/
fieldset.legend {
  font: 12px Arial,Helvetica,Verdana,sans-serif;
  margin: 10px 0;
  padding: 10px 10px 15px;
}
.legend legend {
  font-size: 12px;
  font-weight: bold;
  color: #666;
}
.legend span {
  background-color: #E5ECF9;
  border: 1px solid silver;
  text-align: center;
  overflow: hidden;
  padding: 3px 6px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -border-radius: 4px;
  color: #333;
  font-weight: normal;
}